html{
  font-family: Helvetica, sans-serif;
}
main{
  margin-top: 225px;
  margin-left:15%;
}

P {
text-indent: 10pt;
}

.post_image img{
  width: 70px;
  height:70px;
  border-radius: 150%;
  display: inline-block;
  float:left;
  margin-top:-60px;
}

article {
  display: inline-block;
  margin-left: 20px;
  margin-top:-20px;
  width:50%;
  margin-bottom: 20px;
}

article a {
  text-decoration: none;
  color:#698EBF;
}
article a:hover{
  color:#273B40;
}
article h2{
  display:inline-block;
  font-family: Helvetica, sans-serif;
  font-size: 1.5em;
  margin-left:100px;
  }

article h6{
  display: inline-block;
  font-size: .6em;
}

p a{
  color: #698EBF;
}

aside {
  right:0;
  top:150px;
  background-color:#70848C;
  height:100%;
  width:200px;
  position:fixed;
  z-index: 9998;
}

aside h3{
  text-align: center;
}

aside *{
  margin-left:5px;
}