.portrait {
  height: 7em;
  padding: 15px 15px 15px 200px;
  display: inline;
  position: relative;
  float: left;
}

h1{
  font-family: Helvetica, sans-serif;
  font-size: 5em;
  display: inline;
  position: relative;
}

header{
  background-color: #BFE8A5;
}